

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1140px;
    }
}
@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg{
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container, .container-sm, .container-md{
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container, .container-sm{
        max-width: 540px;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
}
@media (min-width: 576px) {
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
@media (min-width: 576px) {
    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }
}
@media (min-width: 576px) {
    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}
@media (min-width: 576px) {
    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }
}
@media (min-width: 576px) {
    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}  
@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
} 